@font-face {
  font-family: 'Protest Revolution';
  src: url('font/ProtestRevolution-Regular.woff') format("woff");
  /* https://fonts.google.com/specimen/Protest+Revolution?preview.text=GeistesBlitz */
}

@font-face {
  font-family: 'New_Tegomin';
  src: url('font/NewTegomin-Regular.woff') format("woff");
  /* https://fonts.google.com/specimen/New+Tegomin?subset=japanese&noto.script=Hira */
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 80%;
  color: silver;
}

.game-container {
  display: flex;
}

#title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 物件基準點設為中心 */
  font-size: 7vw;
  font-family: 'Protest Revolution';
}

#ghost_w {
  width: 8%;
  opacity: 80%;

  position: absolute;
  top: 31%;
  left: 72%;
  transform: translate(-50%, -50%);
}

.backgroundImg {
  background-blend-mode: multiply;
  background-image: url(picture/castle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menuBtn {
  /* 首頁按鈕 */
  width: 9vw;
  height: 5vw;
  border-radius: 2vw;
  font-size: 2vw;
  font-family: 'Protest Revolution';
  color: grey;
  text-align: center;
  opacity: 80%;
}

#startBtn-menu {
  /* 首頁start按鈕 */
  position: absolute;
  top: 55%;
  left: 57.5%;
  transform: translate(-50%, -50%);
}

#rulesBtn-menu {
  /* 首頁rules按鈕 */
  position: absolute;
  top: 55%;
  left: 42.5%;
  transform: translate(-50%, -50%);
}

#rulesTitle {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  font-family: 'Protest Revolution';
}

#rulesContent {
  position: absolute;
  top: 20.5%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.5vw;
  justify-content: center;
  text-align: center;
  background-color: rgba(41, 36, 33, 0.4);
  padding: 15px;
  border-radius: 12px;
  font-family: 'New_Tegomin';
}

.ruleBtn {
  /* 規則頁按鈕 */
  width: 7vw;
  height: 3.9vw;
  border-radius: 1.56vw;
  font-family: 'Protest Revolution';
  color: grey;
  text-align: center;
  opacity: 55%;
}

#startBtn-rule {
  /* 規則頁start按鈕 */
  position: absolute;
  top: 23%;
  left: 8%;
  transform: translate(-50%, -50%);
  font-size: 1.56vw;
}

#menuBtn-rule {
  /* 規則頁homepage按鈕 */
  position: absolute;
  top: 13%;
  left: 8%;
  transform: translate(-50%, -50%);
  font-size: 1.2vw;
}

#item-container-rule {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  position: fixed;
  top: 70%;
  left: 25%;
}

#item-container-rule img {
  width: 10vw;
  height: 10vw;
  /*max-width: 150px;
  max-height: 150px;*/
  opacity: 80%;
}

#cardNum {
  /* 「回合數」 */
  position: absolute;
  top: 7.5%;
  left: 8.5%;
  transform: translate(-50%, -50%);
  font-size: 1.5vw;
  font-family: 'New_Tegomin';
  text-align: center;
}

#cardInput {
  /* 輸入框 */
  position: absolute;
  top: 7.5%;
  left: 15.5%;
  transform: translate(-50%, -50%);
  font-size: 1.2vw;
  border-radius: 0.8vw;
  font-family: 'New_Tegomin';
  text-align: center;
}

#submit {
  /* submit按鈕 */
  position: absolute;
  top: 7.5%;
  left: 23%;
  transform: translate(-50%, -50%);
  font-size: 1.2vw;
  border-radius: 0.8vw;
  font-family: 'Protest Revolution';
  text-align: center;
  color: grey;
}

.gameBtn {
  /* 遊戲頁按鈕 */
  width: 7vw;
  height: 3.9vw;
  border-radius: 1.56vw;
  font-family: 'Protest Revolution';
  color: grey;
  text-align: center;
  opacity: 55%;
}

#menuBtn-game {
  /* 遊戲頁homepage按鈕 */
  position: absolute;
  top: 18%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 1.2vw;
}

#ruleBtn-game {
  /* 遊戲頁rule按鈕 */
  position: absolute;
  top: 27%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 1.56vw;
}

#ans {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8vw;
  font-family: 'New_Tegomin';
  text-align: center;
}

#score {
  position: absolute;
  top: 9%;
  left: 87%;
  transform: translate(-50%, -50%);
  font-size: 1.8vw;
  font-family: 'Protest Revolution';
  text-align: center;
}

.item {
  position: relative;
  height: 10vw;
}

.card {
  height: 2vw;
  width: 6vw;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  position: fixed;
  top: 15%;
  left: 30%;
}

#card-container img {
  width: 20vw;
  height: 20vw;
  opacity: 90%;
}

#item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  position: fixed;
  top: 60%;
  left: 25%;
}

#item-container img {
  width: 10vw;
  height: 10vw;
  opacity: 80%;
}

/*響應式設計語法*/
@media screen and (max-width: 800px) {
  .backgroundImg {
    background-image: url(picture/castlePhone.jpg);
  }

  #title {
    top: 30%;
    font-size: 17vw;
  }

  #ghost_w {
    display: none;
  }

  .menuBtn {
    /* 首頁按鈕 */
    width: 30vw;
    height: 10vw;
    border-radius: 2vw;
    font-size: 6vw;
  }

  #startBtn-menu {
    /* 首頁start按鈕 */
    top: 65%;
    left: 50%;
    text-align: center;
  }

  #rulesBtn-menu {
    /* 首頁rules按鈕 */
    top: 75%;
    left: 50%;
    text-align: center;
  }

  #rulesTitle {
    font-size: 17vw;
  }

  #rulesContent {
    position: absolute;
    top: 25%;
    font-size: 4vw;
    width: 75%;
    padding: 10px;
  }

  #item-container-rule {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
  }

  #item-container-rule img {
    width: 17%;
    height: 17%;
  }

  .ruleBtn {
    /* 規則頁按鈕 */
    width: 15vw;
    height: 7vw;
    text-align: center;
    opacity: 55%;
  }

  #startBtn-rule {
    /* 規則頁start按鈕 */
    top: 11%;
    left: 10%;
    font-size: 3vw;
    text-align: center;
  }

  #menuBtn-rule {
    /* 規則頁homepage按鈕 */
    top: 5%;
    left: 10%;
    font-size: 2.7vw;
    text-align: center;
  }

  #cardNum {
    /* 「回合數」 */
    top: 10%;
    left: 30%;
    font-size: 5vw;
    text-align: center;
  }

  #cardInput {
    /* 輸入框 */
    top: 10%;
    left: 55%;
    font-size: 4vw;
    width: 25%;
    height: 4%;
    text-align: center;
  }

  #submit {
    /* submit按鈕 */
    top: 10%;
    left: 80%;
    font-size: 4vw;
    line-height: 4.5%;
    width: 16%;
    height: 4.5%;
    border-radius: 1.5vw;
    text-align: center;
  }

  .gameBtn {
    /* 遊戲頁按鈕 */
    width: 15vw;
    height: 7vw;
  }

  #menuBtn-game {
    /* 遊戲頁homepage按鈕 */
    top: 5%;
    left: 10%;
    font-size: 2.7vw;
    text-align: center;
  }

  #ruleBtn-game {
    /* 遊戲頁rule按鈕 */
    top: 11%;
    left: 10%;
    font-size: 3vw;
    text-align: center;
  }

  #ans {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-family: 'New_Tegomin';
    text-align: center;
    width: 90%;
  }

  #score {
    top: 90%;
    left: 80%;
    font-size: 5vw;
    width: 50%;
  }

  .item {
    position: relative;
    height: 15vw;
  }

  .card {
    height: 6vw;
    width: 18vw;
  }

  #card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    width: 90%;
  }

  #card-container img {
    width: 35vw;
    height: 35vw;
    opacity: 90%;
  }

  #item-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 55%;
    width: 90%;
  }

  #item-container img {
    width: 15vw;
    height: 15vw;
    opacity: 80%;
  }
}